/* Reset & base font */
* {
  margin: 0;
  padding: 0;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: absolute;
  width: 100%;
}

.menu {
  position: fixed;
  top: auto;
  left: 0;
  width: 160px;
  height: 100vh;
  box-shadow: 0 0 20px rgb(47, 4, 4);
  display: flex;
  align-items: center; /* keep items vertically centered */
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* margin-top: 120px; */
}

.ul1 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  align-items: left;
}

.ul1 li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* avoid stretching */
}

.ul1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 10px;
  font-family: "Moon Dance", "Quintessential", serif;
  font-size: 28px;
  color: black;
  text-decoration: none;
  line-height: normal; /* prevent vertical offset */
}

.container .bkgimg {
  background: url("./main_fin.png") center/cover no-repeat;
  position: fixed;
  top: 90px; /* anchor below header */
  left: 0;
  width: 100%;
  height: calc(100% - 90px); /* keep below header */
  filter: blur(3px);
}

.head {
  height: 90px;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 60px;
  font-family: "Moon Dance", "Quintessential", serif;
  box-shadow: 0px 0px 20px rgb(47, 4, 4);
  background: url(./calli_head001.png) center/cover no-repeat;
  z-index: 10;
}

.container .content {
  position: relative;
  top: 90px;
  margin-left: 180px;
}

.container .content h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Moon Dance", "Quintessential", serif;
  color: black;
}

.container .content p {
  font-size: 28px;
  color: black;
  text-align: justify;
  margin: 20px;
}

#culture {
  list-style-type: lower-latin;
  padding: 0;
  margin: 20px;
  font-size: 28px;
  color: black;
  text-align: justify;
}

/* Portrait smartphones */
@media (max-width: 600px) and (orientation: portrait) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .bkgimg {
    background: url("./main_fin.png") center/contain no-repeat;
    top: 30px;
    bottom: 0;
    opacity: 0.86;
    filter: blur(5px);
    height: calc(100% - 30px);
  }

  .menu {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100vw;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url("./mob.png") repeat-x;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: none;
    z-index: 1;
  }

  .list {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 35px;
  }

  .ul1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
  }

  .ul1 li {
    display: flex;
    height: auto;
    align-items: center;
  }

  .ul1 a {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
    height: 60px;
    line-height: normal;
    border: none;
  }

  .head {
    height: 60px;
    font-size: 40px;
    z-index: 1;
    margin-right: auto;
    background: url("./mob.png") repeat-x;
    box-shadow: none;
  }

  .container .content {
    margin-top: 30px;
    margin-left: 0;
    z-index: 0;
  }

  .container .content h1 {
    font-size: 35px;
  }

  .container .content p,
  #culture {
    font-size: 18px;
    margin: 0 10px;
  }
}

/* Landscape smartphones/tablets */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .menu {
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
  }

  .menu a
  ,.ul1 
  {
    font-size: 25px;
    padding: 16px 10px;
    margin-top: 20px;
    gap: 0px;
  }
}
