* {
  margin: 0;
  padding: 0;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: absolute;
  width: 100%;
}

.menu {
  position: fixed;
  top: 90px;
  left: 0;
  width: 160px;
  height: 100vh;

  box-shadow: 0 0 20px rgb(47, 4, 4);
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}

.ul1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  align-items: center;
}

.ul1 li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul1 a {
  display: block;
  width: 100%;
  padding: 16px 10px;
  font-family: "Moon Dance", "Quintessential", serif;
  font-size: 35px;
  color: black;
  text-decoration: none;
}

.container .bkgimg {
  background-image: url("./main_fin.png");
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  margin-top: 90px;
  /* opacity: 0.86; */
  filter: blur(3px);
}

.head {
  height: 90px;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 60px;
  font-family: "Moon Dance", "Quintessential", serif;
  box-shadow: 0px 0px 20px rgb(47, 4, 4);
  background-image: url(./calli_head001.png);
  z-index: 10;
}

.container .content {
  position: relative;
  top: 90px;
  margin-left: 180px;
}
.container .content h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Moon Dance", "Quintessential", serif;
  color: black;
}
.container .content p {
  font-size: 28px;
  color: black;
  text-align: justify;
  margin: 20px;
}
#culture {
  list-style-type: lower-latin;
  padding: 0;
  margin: 0;
  font-size: 28px;
  color: black;
  text-align: justify;
  margin: 20px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .bkgimg {
    background-image: url("./main_fin.png");
    height: 100%;
    width: 100%;
    bottom: 0px;
    background-size: contain;
    top: 30px;
    opacity: 0.86;
    filter: blur(5px);
  }
  .menu {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 100vw;
    height: 65px;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
    background-image: url("./mob.png");
    border-top: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    z-index: 1;
  }
  .list {
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-top: 0;
    margin-left: 35px;
  }
  .ul1 {
    flex-direction: row;
    gap: 0;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .ul1 li {
    width: auto;
    height: 100%;
    display: flex;
  }
  .ul1 a {
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom: none;
  }
  .head {
    height: 60px;
    font-size: 40px;
    z-index: 1;
    margin-right: 500px;
    background-image: none;
    box-shadow: none;
    background-image: url("./mob.png");
  }
  .container .content {
    margin-top: 30px;
    margin-left: 0;
    z-index: 0;
  }
  .container .content h1 {
    font-size: 35px;
  }
  .container .content p {
    font-size: 18px;
    margin-left: 10px;
    margin-right: fit-content;
  }
  #culture {
    font-size: 18px;
    margin-left: fit-content;
    margin-right: fit-content;
  }
}
